#Cache files
__pycache__/
__pycache__

*.py[cod]
*$py.class

#Database files
db.sqlite3
db.sqlite3-journal

#Virtual Environment 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

backend/backend/__pycache__/urls.cpython-312.pyc
