#about-us {
    scroll-behavior: smooth;
}

.secondary-section {
    background-color: var(--bg-tint1);
    min-height: 100vh;
    padding: 1rem 0 9.6rem 0;
}

.textbox {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

.heading-secondary {
    grid-column: 1;
    display: flex;
    font-size: 4.2rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* background-color: aquamarine; */
    width: 35rem;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 180rem;
    margin: auto;
    padding: 0 2rem;

    background-color: rgb(119, 119, 219);
}

.secondary-text {
    grid-column: 1;
    font-size: 2rem;
    line-height: 1.8;
    color: var(--main);
    margin-bottom: 3.2rem;
    /* background-color: violet; */
    width: 60rem;
}

/* 
.secondary-text-left {
    grid-column: 3;
    font-size: 2rem;
    line-height: 1.8;
    color: var(--main);
    margin-bottom: 3.2rem;
    background-color: hotpink;
    width: 60rem;
    margin-left: auto;
}

.heading-secondary-left {
    grid-column: 3;
    font-size: 4.2rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: aquamarine;
    width: 35rem;
    margin-left: auto;
    margin-top: auto;
    text-align: right;
} */