.section-account {
    background-color: var(--bg-tint1);
    min-height: 100vh;

    padding: 12.8rem 0 9.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-text-box {
    text-align: center;
    margin-bottom: 3.2rem;
}

.account-icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1.2rem;
}

.account-container {
    width: 35%;
    margin: 0 auto;
    background-color: var(--bg-shade1);

    padding: 2.4rem 4.8rem;
}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form input {
    background-color: var(--bg-tint1);
    padding: 1.6rem 2.4rem;
    border: solid 1px var(--main);
    color: var(--main-shade1);
    margin-bottom: 2.4rem;
}

.account-form input:active,
.account-form input:focus {
    outline: none;
}