.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    
    padding: 3.2rem 6.4rem;

    font-size: 1.8rem;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .3s;
}

.nav-links {
    list-style: none;

    display: flex;
    gap: 1.6rem;
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: var(--main);

    transition: 0.3s;
}

.nav-link:hover, .nav-link:active {
    color: var(--main-shade-1);
}

.pfp-container {
    position: relative;
}

.pfp {
    width: 3.6rem;
    height: 3.6rem;

    border-radius: 50%;

    cursor: pointer;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    position: absolute;
    background-color: white;
    bottom: -10%;
    right: -50%;
    z-index: 1;

    border-radius: 5px;

    transform: translateY(100%);

    list-style: none;

    padding: 2.4rem 3.2rem;

    width: 18rem;

    text-align: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-link:link, .dropdown-link:visited {
    display: inline-block;

    text-decoration: none;
    color: var(--main);

    transition: 0.2s;
}

.dropdown-link:hover, .dropdown-link:active {
    color: var(--main-shade1);
}

#sign-out {
    margin-top: 1.2rem;
    color: var(--main-shade1);
}


/* STICKY */
.sticky {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: var(--bg-tint1);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.05);

    z-index: 100;
}