/* < 1200px */
@media(max-width: 75em) {
    .main-container {
        padding: 0 6.4rem;
    }
}


/* < 864px */

@media(max-width: 54em) {
    html {
        font-size: 56.25%;
    }

    .main-container {
        gap: 6.4rem;
    }

    .main-text {
        font-size: 1.8rem;
    }

    .heading-primary {
        font-size: 4rem;
    }

    .timeline-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .members-list {
        width: 75%;
    }
}



/* < 688px */

@media(max-width: 43em) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .main-textbox {
        text-align: center;
    }

    .heading-primary {
        font-size: 4.8rem;
    }

    .main-text {
        font-size: 2rem;
    }

    .timeline-settings-name input {
        width: 100%;
    }

    .timeline-settings-name-done {
        position: static;
    }
}



/* < 560px */

@media(max-width: 35em) {
    .main-container {
        padding: 0 3.2rem;
    }

    .heading-primary {
        font-size: 4.2rem;
    }

    .main-text {
        font-size: 1.8rem;
    }

    .mobile-nav-btn {
        display: block;
    }

    .nav-links {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-links-mobile {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}