.section-main {
    /* background: linear-gradient(45deg, var(--secondary), white) */
    /* background: linear-gradient(160deg, var(--secondary-tint2) 50%, var(--secondary-tint3) 50%); */
    background: linear-gradient(160deg, #ebd7b1 50%, #f2e4cb 50%);

    min-height: 100vh;
    width: 100%;

    padding: 9.6rem 0;
}


.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;
    justify-content: center;

    /* background-color: aqua; */
    width: 100%;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--main-shade1);
    border-radius: 50%;
    /* margin: 0 10px; */
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    width: auto;
}

.card-container-left {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    align-items: end;

}

.card-container-right {
    display: flex;
    flex-direction: column;
    grid-column: 3;

}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
}

.pillar {
    width: 20px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--main);
    padding-top: 5px;
}

.heading {
    font-size: 18px;
    font-weight: bold;
}

.sub-heading {
    font-size: 14px;
    color: #555;
}



/* TIMELINE SETTINGS */
.timeline-settings {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;
}

.timeline-settings-container {
    width: 100rem;
    margin: 0 auto;
    padding: 3.2rem;
    background-color: var(--bg-shade1);

    animation: scale 0.5s;
}

.timeline-settings-close {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}