.section-main {
    /* background: linear-gradient(45deg, var(--secondary), white) */
    /* background: linear-gradient(160deg, var(--secondary-tint2) 50%, var(--secondary-tint3) 50%); */
    background: linear-gradient(160deg, #ebd7b1 50%, #f2e4cb 50%);

    min-height: 100vh;
    width: 100%;

    padding: 9.6rem 0;
}


.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* background-color: aqua; */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    /* align-items: stretch; */
    row-gap: 1rem;
    justify-content: center;

    /* background-color: aqua; */
    width: 100%;

    margin-bottom: 1.2rem;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    width: auto;
    align-self: start;
    /* background-color: aqua; */
}

/* .circle-btn {
    cursor: pointer;
    grid-column: 2 / -1;
    width: 100%;
} */

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--main-shade1);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    border: none;
    /* margin: 0 10px; */
}

.timeline-title {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: 1/-1;
    width: 95.5rem;
    height: 7rem;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.card-container {
    /* background-color: aqua; */
    padding-right: 0.8rem;
}

.card-container-left {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    align-items: end;

}

.card-container-right {
    display: flex;
    flex-direction: column;
    grid-column: 3;

}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    /* margin: 1rem; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45rem;
}

.card-expanded {
    grid-row: span 2;
}

.pillar {
    width: 2rem;
    min-height: 10rem;
    border-radius: 40px;
    background-color: var(--main);
    padding-top: 5px;
    grid-column: 2;
    justify-self: center;
    align-self: stretch;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
}

.sub-heading {
    font-size: 1.4rem;
    color: var(--main);
    margin-bottom: 1.2rem;
}

.date {
    letter-spacing: 1.75px;
    font-size: 1rem;
}

.heading,
.sub-heading {
    overflow: hidden;
    word-wrap: break-word;
}

.plus {
    display: flex;
    position: fixed;
    text-decoration: none;
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--main-shade1);
    line-height: 4.5rem;
    bottom: 7.5rem;
    left: 10rem;

}



/* TIMELINE SETTINGS */
.timeline-settings {
    position: absolute;
    top: 0;
    left: 0;

    /* display: flex; */
    /* align-items: center; */

    width: 100vw;
    height: 100%;

    padding: 0 3.2rem;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;

    overflow-x: hidden;
    overflow: auto;
}

.timeline-settings-container {
    max-width: 100rem;
    margin: 16rem auto;
    padding: 3.2rem;
    background-color: var(--bg);

    animation: scaleOpen 0.5s;

    position: relative;

    overflow: auto;
}

.timeline-settings-closed {
    animation: scaleClose 0.5s;
}

.timeline-settings-close {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    right: 1rem;
}


/* TEXTBOX */
.timeline-settings-text-box {
    text-align: center;
    border-bottom: solid 1px var(--main-tint1);
    padding-bottom: 4.2rem;
    margin-bottom: 4.2rem;
}

.timeline-settings-name {
    font-size: 5.2rem;
    letter-spacing: 1.75px;

    position: relative;
}

.timeline-settings-name input {
    font-size: 5.2rem;
    letter-spacing: 1.75px;
    background-color: transparent;
    border: none;
    color: inherit;
    background-color: var(--bg-tint1);
    text-align: center;
    display: inline;
}

.timeline-settings-name-edit,
.timeline-settings-name-done {
    position: absolute;

    width: 3.2rem;
    height: 3.2rem;

    transform: translate(50%, -50%);

    top: 50%;

    cursor: pointer;
}

.timeline-settings-owner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    /* margin: 0 auto; */
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.timeline-settings-owner-pfp {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.timeline-settings-loading {
    /* background-color: aqua; */
    margin: 0 auto;
}

.timeline-settings-description {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;

    position: relative;
}

.timeline-settings-description textarea {
    border: none;
    background-color: var(--bg-tint1);
    min-height: 50rem;
    resize: vertical;
    width: 100%;
    font-size: 1.8rem;
    color: inherit;
    text-align: center;
}

.timeline-settings-description-done {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
}

.timeline-settings-description-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1.2rem;
    /* transform: translateY(50%); */

    /* position: absolute;
    bottom: 0;
    right: 0; */

    cursor: pointer;
}

.timeline-settings-date {
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: var(--main-tint1);
    margin-bottom: 3.2rem;
}

.save-changes {
    padding: 0.8rem 1.6rem !important;
}



/* BUTTON BOX */
.timeline-settings-btn-box {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.timeline-settings-trash-btn-box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}


.timeline-settings-members {
    /* display: flex;
    align-items: center; */
    /* background-color: white; */

    background-color: var(--main-shade1);
    /* background-color: white; */

    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.1);

    cursor: pointer;

    max-width: 24rem;
    display: inline-block;

    padding: 1.6rem 1.6rem;

    transition: 0.2s;
}

.timeline-settings-members:hover {
    transform: scale(1.05);
}

.btn-contributors {
    font-size: 1.4rem;
    letter-spacing: 1.8px;

    color: white;
}

.timeline-settings-img-box {
    margin-bottom: 0.8rem;
}

.timeline-settings-img-box img {
    width: 3rem;
    height: 3rem;
    border: solid 2px var(--main-shade1);
}



.timeline-settings-view-btn {
    grid-column: 3;
}





.timeline-settings-contributors {
    margin-top: 4.2rem;
}

.timeline-settings-heading {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
}

.timeline-settings-search-box {
    display: flex;
    justify-content: center;
    align-items: stretch;

    gap: 1.2rem;

    /* background-color: aqua; */
    margin-bottom: 3.2rem;
}

.timeline-settings-search {
    display: block;
    padding: 1.2rem 2.4rem;
    color: inherit;
}

.members-list {
    display: grid;
    grid-template-columns: auto 70fr 30fr;
    align-items: center;
    gap: 1.8rem;
    /* justify-items: center; */
    width: 50%;
    margin: 0 auto;
    margin-bottom: 6.4rem;

    font-size: 1.8rem;
}

/* .members-list-edit {
    grid-template-columns: auto 70fr 30fr 30fr;
} */

.members-list img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.members-pfp {
    position: relative;
}

.remove-user {
    position: absolute;
    left: -2.4rem;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: .2s;
}

.remove-user:hover {
    color: var(--main);
}

.members-role {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    /* background-color: aqua; */

    position: relative;

    color: inherit;
    font-size: inherit;
}

select.members-role {
    background-color: var(--bg-tint1);
    padding: 0.8rem 1.6rem;
}

.members-role-edit {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: inherit;
    position: absolute;
    right: -1.2rem;
    transform: translateX(100%);
}

.dot-spinner {
    --uib-size: 1.8rem;
    --uib-speed: 1.2s;
    --uib-color: var(--main-shade1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    cursor: auto;
    /* background-color: aqua; */
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 10%;
    width: 30%;
    /* border-radius: 50%; */
    background-color: var(--uib-color);
    /* transform: scale(0); */
    opacity: 0;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        /* transform: scale(0); */
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    50% {
        /* transform: scale(1); */
        opacity: 1;
    }
}



.timeline-settings-add-form {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    width: 75%;
    margin: 0 auto;
    margin-top: 2.4rem;
    /* align-items: center; */

    text-align: center;
}

.timeline-settings-add-form input,
.timeline-settings-add-form select,
.timeline-settings-add-form button {
    padding: 1.6rem 2.4rem;
    border: none;
    font-size: 1.6rem;
}

.icon-new {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-new {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.trash-icon {
    display: block;
    margin-left: auto;
    width: 3.3rem;
    height: 3.3rem;
    cursor: pointer;
    /* margin-right: auto; */
    /* background-color: azure; */
    transition: .2s;
}

.tertiary-section-timeline {
    background-color: var(--bg);
    min-height: 100vh;
    padding: 12.8rem 10.6rem 0;

}

.date {
    display: flex;
    align-items: center;
}

.date label {
    margin-right: 10px;
}

.date-inputs {
    display: flex;
}

.date-inputs select {
    margin-right: 10px;
    background-color: var(--bg-tint1);
    border: none;
    border-radius: 5px;
}

.date-input select ::-webkit-scrollbar-thumb {
    background-color: aqua;
}



.date {
    display: flex;
    align-items: center;
}

.date label {
    margin-right: 10px;
}

.date-inputs {
    display: flex;
}

.date-inputs select {
    margin-right: 10px;
    background-color: var(--bg-tint1);
    border: none;
    border-radius: 5px;
}

.date-input select ::-webkit-scrollbar-thumb {
    background-color: aqua;
}

.contact-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.tertiary-section-timeline.heading-secondary {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 
.contact-form button {
    width: 15.5rem;
    margin-left: auto;
    margin-right: auto;
} */




.trash-icon:hover {
    color: var(--main);
}

.confirm-delete-container {
    position: fixed;
}

.confirm-delete {
    width: 50%;
    margin-top: 25.6rem;
}

.confirm-delete-title {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
}

.confirm-delete-btn-box {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.8rem;
    /* background-color: aqua; */
}

.cancel {
    background-color: transparent;
    color: var(--main-shade1);
    box-shadow: inset 0 0 0 0.1rem var(--main-shade1);
}

.cancel:hover {
    background-color: var(--main-shade1);
    color: white;
}

@keyframes scaleOpen {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleClose {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes dropdown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}